body{
  background: url("https://cdn.wallpapersafari.com/50/49/ayEdDo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}